.card-body{
    height: 250px;
}
h1{
    text-align: center;
    color: blue;
    font-weight: bolder;
}
h2{
    font-weight: 500;
}
body{
  background-color: cadetblue;
}
p{
    font-size: large;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    font-family: 'Merriweather', serif;
    color: darkblue;
    font-size: large;
    font-weight: 900;
    padding: 15px;
}