h1{
    text-align: center;
    color: blue;
    font-weight: bolder;
}
h2{
    font-weight: 500;
}
body{
  background-color: cadetblue;
}
.card-body{
    height: 275px;
}
p{
    font-size: large;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
h3{
    color:darkblue;
}