{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}




{% block content %}
<!-- NEWS SOURCES SECTION-->
<h1>News Sources</h1>
<br><br>

{% for news_source in news %}
        <div class="page">
        <div class="col-md-4">
            <div class="card">
                <h2 class="card-header">{{news_source.name}}</h2>
                <hr>
                <div class="card-body">
                    <h4 class="card-title">{{news_source.id}}</h4>
                    <p class="card-text">{{news_source.description}}</p>
                    <a href="/article/{{news_source.id}}" class="btn btn-primary">See articles</a>
                </div>
            </div>
            <br><hr>
        </div>
        </div>
        
    
    
{% endfor %}


{% endblock%}